<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         stopOnFailure="false"
         failOnRisky="true"
         failOnWarning="true"
>
    <!-- Test Suites -->
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>

    <!-- Code Coverage -->
    <coverage>
        <include>
            <directory suffix=".php">app</directory>
        </include>
        <exclude>
            <directory suffix=".php">app/Exceptions</directory>
            <directory suffix=".php">app/Http/Middleware</directory>
            <directory suffix=".php">app/Providers</directory>
        </exclude>
        <report>
            <html outputDirectory="build/coverage"/>
            <clover outputFile="build/clover.xml"/>
            <text outputFile="build/coverage.txt"/>
        </report>
    </coverage>

    <!-- Environment Variables -->
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_DEBUG" value="false"/>
        <env name="APP_KEY" value="base64:oQJr4J8ZEX+ufFixMbZwybzbJRXTHCVoBTTn2PjvULo="/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="DB_CONNECTION" value="mysql"/>
        <env name="DB_DATABASE" value="dating_db"/>
        <env name="DB_USERNAME" value="root"/>
        <env name="DB_PASSWORD" value="Password123!"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="PULSE_ENABLED" value="false"/>
    </php>
</phpunit>
